{% extends "app/base.html" %}
{% block content %}

<div class="flex justify-center items-center h-screen">
    <div class="flex-col min-w-full max-w-md px-4 text-center">
        <h1 class="text-9xl font-bold mb-12">needapc</h1>
        <a href="{% url 'quiz' slug='laptop' %}">
            <button type="button" class="text-4xl font-bold bg-blue-500 hover:bg-blue-700 text-white py-5 pb-6 px-8 rounded-full">
                Take the Quiz
            </button>
        </a>
    </div> 
</div>
{% endblock %}
