{% extends "app/base.html" %}

{% block content %}
<div class="flex justify-center items-center h-screen">
    <div class="flex-col">
        <div class="p-6">
            <h1 class="text-center text-4xl font-bold">Quiz</h1>
        </div>
        <div class="progress-bar-container w-90 h-5 bg-gray-300 rounded-full mt-4 mx-4">
            <div class="progress-bar-outline h-full rounded-full overflow-hidden">
                <div class="progress-bar-progress h-full bg-blue-500 rounded-full" style="width: 33%;"></div>
            </div>
        </div>
        <form action="" method="post" class="p-5">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group p-2" id="question_{{ forloop.counter }}">
                <label for="{{ field.label }}" class="text-xl font-bold">{{ field.label }}</label>
                <div class="pt-6">
                    {{ field }}
                </div>
            </div>
            {% endfor %}
            <button type="button"
                class="font-bold bg-blue-500 hover:bg-blue-700 text-white  py-2 px-4 rounded-full cursor-pointed">Next
            </button>
            <div class="flex justify-center py-2">
                <input type="submit" value="Submit"
                    class="font-bold bg-blue-500 hover:bg-blue-700 text-white  py-2 px-4 rounded-full cursor-pointed">
            </div>
        </form>
    </div>
</div>

{% endblock %}